Lab04/Lab04/files/info.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="workerList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Engineer">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="surname"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:int" name="age"/>
                            <xs:element type="xs:int" name="salary"/>
                            <xs:element type="xs:int" name="experience"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SysAdmin">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="surname"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:int" name="age"/>
                            <xs:element type="xs:int" name="salary"/>
                            <xs:element type="xs:int" name="experience"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Programmer" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="surname"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:int" name="age"/>
                            <xs:element type="xs:int" name="salary"/>
                            <xs:element type="xs:int" name="experience"/>
                            <xs:element type="xs:string" name="type"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>